:root {
  --color-primary: #8bb3bf;
  --color-primary-light: #f2f2f2;
  --color-secondary: #255060;
  --color-secondary-cold: #9eb196;
  --color-accent: #f2ec65;
  --color-dark: #757b5f;
  --color-neutral: #e0c9a4;
  --color-neutral-light: #faf1e2;

  --font-primary: "Oswald", sans-serif;
  --font-secondary: "Oswald", sans-serif;
}

html {
  font-family: var(--font-primary);
  color: #255060;
}

.dark-type {
  font-family: var(font-primary);
  color: #255060;
}
