:root {
  --color-primary: #4f73eb;
  --color-primary-light: #f8f1eb;
  --color-secondary: #f4ef5d;
  --color-secondary-cold: #dddbce;
  --color-accent: #f25b27;
  --color-dark: #757b5f;
  --color-neutral: #e0c9a4;
  --color-neutral-light: #faf1e2;
  --color-testimony: #d8ddd9;

  --font-primary: "Oswald", sans-serif;
  --font-secondary: "Oswald", sans-serif;
}

html {
  font-family: var(--font-primary);
  color: #255060;
}

.dark-type {
  font-family: var(font-primary);
  color: #255060;
}

.green-type {
  color: var(--color-dark);
}

.white-type {
  color: #fff;
}

.light-blue-type {
  color: #8bb3bf;
}

.thin-type {
  font-weight: lighter;
  color: #000;
}

.norm-type {
  font-weight: normal;
  color: #000;
}

.bold-type {
  font-weight: bold;
  color: #000;
}

.skip-links a {
  position: absolute;
  top: -5em;
}

.skip-links a:focus {
  top: 0;
}
