.masthead {
  color: #000;
  background-color: #ffffff;
  padding-left: 2.25em;
  padding-top: .5em;
  padding-bottom: 0;
}

li {
  display: inline-block;
  text-decoration: none;
  list-style-type: none;
}

a {
  text-decoration: none;
  list-style-type: none;
  color: #000;
}

a:hover {
  color: var(--color-accent);
}

.drop-shadow {
  box-shadow: 0 3px 12px -7px rgba(0,0,0,0.20);
}
