.masthead {
  color: #000;
  background-color: #efefef;
  padding-left: 2.25em;
  padding-top: .5em;
  padding-bottom: 0;
}

li {
  display: inline-block;
  text-decoration: none;
  list-style-type: none;
}

a {
  text-decoration: none;
  list-style-type: none;
}

a:hover {
  color: #fff;
}
