.testimony {
  background-color: #efefef;
  margin-left: 3em;
  margin-right: 3em;
}

.carousel {
  overflow: scroll;
}

.variation {
  background-color: var(--color-primary-light);
}

.scroll-carousel {
  overflow-x: auto;
}

.scroll-carousel-items {
  width: 300vw;
  display: flex;
}

.scroll-carousel-items a {
  display: block;
  margin-right: .4em;
}

.scroll-carousel-items a:last-child {
  margin-right: 0;
}
