.testimony {
  background-color: var(--color-accent);
  opacity: 80%;
  margin-left: 3em;
  margin-right: 3em;
}

.test-p {
  color: var(--color-primary-light);
}

.carousel {
  overflow: scroll;
}

.variation {
  background-color: var(--color-primary-light);
}

.scroll-carousel {
  overflow-x: auto;
}

.scroll-carousel-items {
  width: 300vw;
  display: flex;
}

.scroll-carousel-items a {
  display: block;
  margin-right: .5em;
}

.scroll-carousel-items a:last-child {
  margin-right: 0;
}

.green-type {
  color: #000;
}

.line {
  margin-left: 0;
}

.lola {
  max-width: auto;
}

.max-width {
  width: 70%;
}
