---
layout: default
---

<h1 class="norm-type text-center push-0">{{page.title}}</h1>
<h6 class="thin-type text-center">{{page.category}}</h6>
<p class="thin-type text-center gutter-2">{{page.details}}</p>

<div class="gutter-2 pad-b-2 pad-t">
  <div>
    <h4 class="text-center dark-type norm-type push-0">EXPLORATION</h4>
  </div>
  <ul class="unit xs-1 s-1 m-1 l-1 xl-1 list-group-inline center-flow push-0">
      {% for img in page.exploration %}
    <li class="gutter-2 content-center img-flex"><img src="/images/{{img}}" alt=""></li>
      {% endfor %}
  </ul>
</div>

<div class="grid variation pad-t-2 pad-b-2">
  <div class="unit xs-1 s-1 m-1 l-1 xl-1">
    <h4 class="text-center norm-type push-0">VARIATIONS</h4>
  </div>
  <ul class="unit xs-1 s-1 m-1 l-1 xl-1 list-group-inline push-0">
    {% for img in page.variations %}
    <li class="content-center max-width img-flex"><img src="/images/{{img}}" alt=""></li>
    {% endfor %}
  </ul>
</div>

<div class="island-2">
  <h4 class="text-center dark-type norm-type">COLOURS</h4>
  <div class="center-flow">
    {% for col in page.colors %}
    {% pattern colours/colours color=col %}
    {% endfor %}
  </div>
</div>
