---
layout: default
---

{% pattern sections/work-description %}

<div class="island-2">
  <h2 class="text-center dark-type norm-type">EXPLORATION</h2>
    <p class="text-center push-2 dark-type thin-type">{{page.exploration}}</p>
    <ul class="unit xs-1 s-1 m-1 l-1 xl-1 list-group-inline push-0">
      {% for img in page.variations %}
      <li class="content-center max-width img-flex"><img src="/images/{{img}}" alt=""></li>
      {% endfor %}
    </ul>
</div>

<div class="grid variation island-2">
  <div class="unit xs-1 s-1 m-1 l-1 xl-1">
    <h2 class="text-center norm-type">VARIATIONS</h2>
  </div>
  <ul class="unit xs-1 s-1 m-1 l-1 xl-1 list-group-inline push-0">
    {% for img in page.variations %}
    <li class="content-center max-width img-flex"><img src="/images/{{img}}" alt=""></li>
    {% endfor %}
  </ul>
</div>

<div class="island-2">
  <h2 class="text-center dark-type norm-type">COLOURS</h2>
  <div class="center-flow">
    {% for col in page.colors %}
    {% pattern colours/colours color=col %}
    {% endfor %}
  </div>
</div>
