.banner-type {
  margin-left: 6em;
  max-width: 75%;
}

.pic {
  left: 2.5em;
  top: 25em;
}

.moi {
  width: 85%;
}

.work-ban {
  background-color: var(--color-primary-light);
}

.half {
  width: 48%;
}


.brick {
  width: 80%;
}

hr {
  border-width: 1px;
  margin-top: 1em;
  width: 45%;
  margin-left: 5.75em;
}

@media only screen and (min-width: 38em) {

  .banner-type {
    max-width: 75%;
  }

  .hey {
    font-size: 2.25em;
  }

  .work-pic {
    left: 3em;
    top: 31em;
  }

  hr {
    margin-left: 6.75em;
  }

}

@media only screen and (min-width: 38em) {

  hr {
    margin-left: 8.75em;
  }
}
